<h1>EmailAddress#addEmail</h1>
<p>Find me in app/views/email_address/addEmail.html.erb</p>

ATTR:
<%= EmailAddress.column_names%>
<%= EmailAddress.columns_hash%>
<%= EmailAddress.columns%>
Emails:
<%= EmailAddress.all.first  %>
Structure:
<%= EmailAddress.all  %>
