<!DOCTYPE html>
<html>
  <head>
    <title>Marc Laffan | Software Developer</title>
    <%= javascript_include_tag Ckeditor.cdn_url%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>

    <div class="center">
      <h2><a href="/">Home</a></h2>
      </br>
    </div>
    </br>

    <div class="centerbig">
      <h3><%= @post.daterelease.strftime("%Y/%m") %> - <%= @post.Title %></h3>
      <%=  (@post.text).html_safe.to_s %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>


