<!DOCTYPE html>
<html>
  <head>
    <title>Marc Laffan | Software Developer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'homebuttons', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'homebuttons', 'data-turbolinks-track': 'reload' %>
    
  </head>
  

  <body > <!--id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">-->
    <%= render "shared/header" %>
    <%= render "shared/alerts" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>


</html>
